In [2]:
import pandas as pd

In [42]:
df = pd.read_csv("ocorrencia.csv", sep=";", parse_dates = ['ocorrencia_dia'], dayfirst=True)
df.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,

pegando os dados de linha e coluna especificas

In [5]:
df.loc[1, 'ocorrencia_uf']

'PA'

pegando diversas linhas

In [6]:
df.loc[1:4]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,

pegando toda a coluna

In [7]:
df.loc[:, 'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

alterando o indice

In [9]:
df.set_index('codigo_ocorrencia', inplace=True)

In [10]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
codigo_ocorrencia,,,,,,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,

vendo os dados de uma linha em especifico

In [11]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
                                            NaN
Unnamed: 10                                 NaN
Unnamed: 11                                 NaN
Unnamed: 12                                 NaN
Unnamed: 13
Name: 40324, dtype: object

voltando ao indece original

In [12]:
df.reset_index(drop=True, inplace=True)

In [13]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,

alterando o valor de um dado

In [14]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [15]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,

alterando os dados de uma linha inteira

In [16]:
df.loc[1] = 38

In [17]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,38,38,38,38,38,38,38,38,38.0,38.0,38.0,38.0,38

alterando os dados de uma coluna inteira

In [20]:
df.loc[:, 'ocorrencia_classificacao'] = 'abcd'

In [21]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,abcd,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,38,abcd,38,38,38,38,38,38,38.0,38.0,38.0,38.0,38
2,40351,abcd,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,abcd,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,abcd,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,abcd,RECIFE,PE,SBRF,2021-08-15 00:00:00,15:05:00,0,NaN,NaN,NaN,NaN,NaN
6110,80247,abcd,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0,NaN,NaN,NaN,NaN,NaN
6111,80251,abcd,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0,NaN,NaN,NaN,NaN,NaN
6112,80257,abcd,DOM AQUINO,MT,****,2021-08-18 00:00:00,16:00:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,abcd,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0,NaN,NaN,NaN,NaN,NaN

criando backup de coluna

In [22]:
df.loc['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [24]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211.0,abcd,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0.0,NaN,NaN,NaN,NaN,NaN
1,38.0,abcd,38,38,38,38,38,38.0,38.0,38.0,38.0,38.0,38
2,40351.0,abcd,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN
3,39527.0,abcd,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0.0,NaN,NaN,NaN,NaN,NaN
4,40324.0,abcd,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6110,80247.0,abcd,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0,NaN,NaN,NaN,NaN,NaN
6111,80251.0,abcd,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0,NaN,NaN,NaN,NaN,NaN
6112,80257.0,abcd,DOM AQUINO,MT,****,2021-08-18 00:00:00,16:00:00,0.0,NaN,NaN,NaN,NaN,NaN
6113,80259.0,abcd,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,NaN,NaN,NaN,NaN,NaN
ocorrencia_uf_bkp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

filtrando dados e trocando valor de um campo

In [25]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] ='GRAVE'

In [26]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211.0,abcd,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0.0,NaN,NaN,NaN,NaN,NaN
1,38.0,abcd,38,38,38,38,38,38.0,38.0,38.0,38.0,38.0,38
2,40351.0,abcd,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN
3,39527.0,abcd,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0.0,NaN,NaN,NaN,NaN,NaN
4,40324.0,abcd,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6110,80247.0,abcd,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0,NaN,NaN,NaN,NaN,NaN
6111,80251.0,abcd,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0,NaN,NaN,NaN,NaN,NaN
6112,80257.0,abcd,DOM AQUINO,MT,****,2021-08-18 00:00:00,16:00:00,0.0,NaN,NaN,NaN,NaN,NaN
6113,80259.0,GRAVE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,NaN,NaN,NaN,NaN,NaN
ocorrencia_uf_bkp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

filtrando linha por condicao

In [27]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
11,40069.0,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,8.0,NaN,NaN,NaN,NaN,NaN
16,39809.0,GRAVE,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,0.0,NaN,NaN,NaN,NaN,NaN
18,39828.0,GRAVE,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,0.0,NaN,NaN,NaN,NaN,NaN
26,39847.0,GRAVE,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,0.0,NaN,NaN,NaN,NaN,NaN
27,39768.0,GRAVE,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6084,80234.0,GRAVE,SÃO PAULO,SP,SBSP,2021-07-26 00:00:00,13:20:00,0.0,NaN,NaN,NaN,NaN,NaN
6085,80208.0,GRAVE,SÃO PAULO,SP,SBMT,2021-07-27 00:00:00,19:45:00,0.0,NaN,NaN,NaN,NaN,NaN
6104,80238.0,GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11 00:00:00,19:09:00,0.0,NaN,NaN,NaN,NaN,NaN
6108,80244.0,GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15 00:00:00,15:20:00,0.0,NaN,NaN,NaN,NaN,NaN
6113,80259.0,GRAVE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,NaN,NaN,NaN,NaN,NaN

In [28]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211.0,abcd,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0.0,NaN,NaN,NaN,NaN,NaN
1,38.0,abcd,38,38,38,38,38,38.0,38.0,38.0,38.0,38.0,38
2,40351.0,abcd,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN
3,39527.0,abcd,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0.0,NaN,NaN,NaN,NaN,NaN
4,40324.0,abcd,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6110,80247.0,abcd,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0,NaN,NaN,NaN,NaN,NaN
6111,80251.0,abcd,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0,NaN,NaN,NaN,NaN,NaN
6112,80257.0,abcd,DOM AQUINO,MT,****,2021-08-18 00:00:00,16:00:00,0.0,NaN,NaN,NaN,NaN,NaN
6113,80259.0,GRAVE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,NaN,NaN,NaN,NaN,NaN
ocorrencia_uf_bkp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,NaN,NaN,NaN,NaN,NaN
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,NaN,NaN,NaN,NaN,NaN
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,NaN,NaN,NaN,NaN,NaN
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN

limpando e substituindo **** por <NA>

In [8]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [11]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0,NaN,NaN,NaN,NaN,NaN
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,NaN,NaN,NaN,NaN,NaN
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0,NaN,NaN,NaN,NaN,NaN
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,NaN,NaN,NaN,NaN,

substituindo todos os nulos de uma vez

In [27]:
df.replace(['**', '###!', '####', '****', '*****', 'NULL'], pd.NA, inplace=True)

In [17]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0.0,NaN,NaN,NaN,NaN,NaN
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0,NaN,NaN,NaN,NaN,NaN
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0,NaN,NaN,NaN,NaN,NaN
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6110,80247.0,80247.0,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0.0,NaN,NaN,NaN,NaN,NaN
6111,80251.0,80251.0,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0.0,NaN,NaN,NaN,NaN,NaN
6112,80257.0,80257.0,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0.0,NaN,NaN,NaN,NaN,NaN
6113,80259.0,80259.0,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0,NaN,NaN,NaN,NaN,NaN
ocorrencia_aerodromo == ****,NaN,NaN,NaN,NaN,NaN,<NA>,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

somar por coluna quantos dados não informados por coluna tem

In [18]:
df.isna().sum()

codigo_ocorrencia              1
codigo_ocorrencia2             1
ocorrencia_classificacao       1
ocorrencia_cidade              1
ocorrencia_uf                  3
ocorrencia_aerodromo        2457
ocorrencia_dia                 1
ocorrencia_hora                2
total_recomendacoes            1
                            6115
Unnamed: 10                 6115
Unnamed: 11                 6115
Unnamed: 12                 6115
Unnamed: 13                 6114
dtype: int64

In [19]:
df.isnull().sum()

codigo_ocorrencia              1
codigo_ocorrencia2             1
ocorrencia_classificacao       1
ocorrencia_cidade              1
ocorrencia_uf                  3
ocorrencia_aerodromo        2457
ocorrencia_dia                 1
ocorrencia_hora                2
total_recomendacoes            1
                            6115
Unnamed: 10                 6115
Unnamed: 11                 6115
Unnamed: 12                 6115
Unnamed: 13                 6114
dtype: int64

adicionar valor a todos os dados não informados

In [21]:
df.fillna(4, inplace=True)

In [22]:
df.isna().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
                            0
Unnamed: 10                 0
Unnamed: 11                 0
Unnamed: 12                 0
Unnamed: 13                 0
dtype: int64

voltando valores para NA

In [28]:
df.replace([4], pd.NA, inplace=True)

In [29]:
df.isnull().sum()

codigo_ocorrencia              1
codigo_ocorrencia2             1
ocorrencia_classificacao       1
ocorrencia_cidade              1
ocorrencia_uf                  3
ocorrencia_aerodromo        2457
ocorrencia_dia                 1
ocorrencia_hora                2
total_recomendacoes           51
                            6115
Unnamed: 10                 6115
Unnamed: 11                 6115
Unnamed: 12                 6115
Unnamed: 13                 6114
dtype: int64

trocando valor NA de apenas uma coluna

In [32]:
df.fillna(value={'total_recomendacoes':4}, inplace=True)

In [33]:
df.isna().sum()

codigo_ocorrencia              1
codigo_ocorrencia2             1
ocorrencia_classificacao       1
ocorrencia_cidade              1
ocorrencia_uf                  3
ocorrencia_aerodromo        2457
ocorrencia_dia                 1
ocorrencia_hora                2
total_recomendacoes            0
                            6115
Unnamed: 10                 6115
Unnamed: 11                 6115
Unnamed: 12                 6115
Unnamed: 13                 6114
dtype: int64

excluindo coluna

In [37]:
df.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

In [38]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03 00:00:00,12:00:00,0.0,<NA>
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,0.0,<NA>
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0,<NA>
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,0.0,<NA>
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0,<NA>
...,...,...,...,...,...,...,...,...,...,...
6110,80247.0,80247.0,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0,<NA>
6111,80251.0,80251.0,INCIDENTE,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0,<NA>
6112,80257.0,80257.0,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18 00:00:00,16:00:00,0.0,<NA>
6113,80259.0,80259.0,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,<NA>
ocorrencia_aerodromo == ****,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4.0,<NA>

In [40]:
df.drop(['ocorrencia_aerodromo == ****'], inplace=True)

In [41]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,
0,40211.0,40211.0,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03 00:00:00,12:00:00,0.0,<NA>
1,40349.0,40349.0,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,0.0,<NA>
2,40351.0,40351.0,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0.0,<NA>
3,39527.0,39527.0,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,0.0,<NA>
4,40324.0,40324.0,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0.0,<NA>
...,...,...,...,...,...,...,...,...,...,...
6109,80245.0,80245.0,INCIDENTE,RECIFE,PE,SBRF,2021-08-15 00:00:00,15:05:00,0.0,<NA>
6110,80247.0,80247.0,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16 00:00:00,02:30:00,0.0,<NA>
6111,80251.0,80251.0,INCIDENTE,BELÉM,PA,SBBE,2021-08-17 00:00:00,15:45:00,0.0,<NA>
6112,80257.0,80257.0,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18 00:00:00,16:00:00,0.0,<NA>
6113,80259.0,80259.0,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,0.0,<NA>

excluindo valores duplicados

In [46]:
df.drop_duplicates(inplace=True)

In [47]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,NaN,NaN,NaN,NaN,NaN
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,NaN,NaN,NaN,NaN,NaN
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,NaN,NaN,NaN,NaN,NaN
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN